<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/present.css">
    <title>Presentation</title>
</head>
<body>
    <div class="present">
        <div>
            <nav>
                <h5>comparez.co</h5>
            </nav>
        </div>
        <div class="image1" >
            <img src="/static/image/vu.png" alt="" width="1285">
        </div>
        <div class="titre1" >
            <h2>Logistique <br> Et <br> Marketplace <br></h2>
        </div>
        <div class="test">
            <p>Dans un souci de démocratisation de la vente en ligne, nous mettons à
                disposition une plateforme de E-commerce regroupant les sites majeurs
                occidentaux.
            </p>
            <p>Il est reconnu que <strong>la logistique est le pilier de toute plateforme de
                E-commerce.</strong> 
            </p>
            <p> <strong> Les rôles ont malheureusement été inversés</strong>, mettant aux premiers
                abords l’esthétique d’une plateforme et la possibilité de commandes en
                ligne sans se soucier de la complexité de gestion des livraisons.
            </p>
            <p>Notre mode Saas permet aux logisticiens de profiter d’un logiciel à
                distance au lieu de l’acquérir ou de devoir gérer les caprices de
                développement d’une plateforme, de son aspect chronophage et de gestion
                de ressources humaines.
            </p>
            <p> <strong> Disposez aujourd’hui d’une boutique générale en 24h</strong> et d’un panier et
                de commandes enregistrées chez vous !
            </p>
        </div>
        <div class="images">
            <div class="log" >
                <img  src="/static/image/log.png" alt="log" width="50" height="30" >
            </div>
            <div class="log1">
                <img  src="/static/image/log1.png" alt="log1" width="50" height="30">
            </div>
            <div class="log3">
                <img  src="/static/image/log3.png" alt="log3" width="50" height="30">
            </div>
        </div>    
        <div class="sepa">
            <div class="trait1">
                <img src="/static/image/trait.png" alt="separa" width="300" height="30">
            </div>
            <div class="log4">
                <img src="/static/image/log4.png" alt="log4" width="50" height="30">
            </div>
            <div class="log5">
                <img src="/static/image/log5.png" alt="log5" width="50" height="30">
            </div>
            <div class="log6">
                <img src="/static/image/log6.png" alt="log6" width="50" height="30">
            </div>
            <div class="trait2">
                <img src="/static/image/trait.png" alt="separa" width="300" height="30">
            </div>
        </div>
        <div class="icon">
            <div class="log7">
                <img src="/static/image/log7.png" alt="log7" width="30" height="10">
            </div>
            <div class="log8">
                <img src="/static/image/log8.png" alt="log8" width="30" height="10">
            </div>
            <div class="log9">
                <img src="/static/image/log9.png" alt="log9" width="30" height="10">
            </div>
        </div>
        <div class="icon1">
            <div class="log10">
                <img src="/static/image/log10.png" alt="log10" width="60" height="70">
            </div>
            <div class="log11">
                <img src="/static/image/log11.png" alt="log11" width="70" height="40">
            </div>
            
        </div>
        <div class="image2" >
            <img src="/static/image/vu1.png" alt="" width="1285">
        </div>
        <div class="titre2" >
            <h2>Nous</h2>
            <h3>concevons</h3>
            <hr>
            <h2 class ="vo">Vous</h2>
            <h3 class="vo">exploitez</h3>
        </div>
        <div class="voir">
            <span class="vertical-line"></span>
            <h3>Posséder votre <br> propre Marketplace</h3>
        </div>
        <div class="para">
            <p>Nous regroupons et comparons toutes les marketplaces internationales 
                <br>et centralisons les achats à votre niveau.
            </p>
        </div>
        <div class="p_image">
            <div class="vup1" >
                <img class="circular--square" src="/static/image/vup1.png" alt="vup1" width="170" height="170" >
            </div>
            <div class="vup4" >
                <img class="circular--square" src="/static/image/vup4.png" alt="vup4" width="170" height="170" >
            </div>
            <div class="vup5" >
                <img class="circular--square" src="/static/image/vup5.png" alt="vup5" width="170" height="170" >
            </div>
            <div class="vup3" >
                <img class="circular--square" src="/static/image/vup3.png" alt="vup3" width="170" height="170" >
            </div>
            <div class="vup2" >
                <img class="circular--square" src="/static/image/vup2.png" alt="vup2" width="170" height="170" >
            </div>
        </div>
        <div class="para2">
            <p>
                Tous les articles sont convertis <strong> en monnaie locale </strong><br>
                et incluent vos tarifs (livraison et services).
            </p>
        </div>
        <div class="icon2">
            <div class="logf10">
                <img src="/static/image/log10.png" alt="logf10" width="70" height="80">
            </div>
            <div class="logf11">
                <img src="/static/image/log11.png" alt="logf11" width="80" height="50">
            </div>
            
        </div>
        <div class="image3" >
            <img src="/static/image/vupa1.png" alt="" width="1285">
        </div>
        <div class="titre3" >
            <h1>En 2</h1>
            <p>Journées</p>
        </div>
        <div class="pg3">
            <img src="/static/image/vupa2.png" alt="pg3" width="80" height="80">
        </div>
        <div class="voir">
            <span class="vertical-line"></span>
            <h3>Lancer votre <br> business <br>en un temps record</h3>
        </div>
        <div class="pgpara">
            <p>Les demandes de mise à disposition de notre outil 
                et de son suivi technique peuvent se faire à tout. <br><br><br>
                Il vous est juste demandé de disposer d’un nom 
                de domaine sur lequel nous aurons à pointer les articles <br> des différents sites sources,
                et d’apposer sur les prix les marges se rapportant à votre intervention.
            </p>
        </div>
        <div class="pgimage">
            <div class="vupa3" >
                <img class="circular--square" src="/static/image/vupa3.png" alt="vupa3" width="70" height="70" >
                <div class="pgtrait">
                    <hr>
                </div>
                <div class="traitV2">
                    <span class="vertical-line2"></span>
                    <p > Personnalisation</p>
                </div>
            </div>
            <div class="vupa4" >
                <img class="circular--square" src="/static/image/vupa4.png" alt="vupa4" width="70" height="70" >
                <div class="pgtrait">
                    <hr>
                </div>
                <div class="traitV">
                    <span class="vertical-line1"></span>
                    <p>Demande</p>
                </div>
                
            </div>
            <div class="vupa5" >
                <img class="circular--square" src="/static/image/vupa5.png" alt="vupa5" width="70" height="70" >
                <div class="pgtrait">
                    <hr>
                </div>
                <div class="traitV3">
                    <span class="vertical-line3"></span>
                    <p>Déploiement</p>
                </div>
            </div>
            <div class="vupa6" >
                <img class="circular--square" src="/static/image/vupa6.png" alt="vupa6" width="70" height="70" >
                <div class="traitV4">
                    <span class="vertical-line4"></span>
                    <p>Ajustement <br>des prix</p>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>